
{% include 'base/header.html' %}
{% block content %}
{% endblock %}
<h1 style="allign:center; ">Excursion</h1>
<section id="pack" class="packages" >
			<div class="container">

				<div class="packages-content">

					<div class="row"  style="height:400px; width:3500px; alligne:center">

						<div class="col-md-4 col-sm-6">
							<div class="single-package-item">
								<img src="{{excur.photoexcursion.url}}" alt="package-place" style="height:400px; width:3500px; allign:center">
								<div class="single-package-item-txt">
									<h3><i>Nom de l'Excursion: {{excur.nom}}</i></h3>
									<h3><i>{{voyagesex.optionnelle}}</i> </h3>

									<div class="packages-para">


									</div>

													</div>

						</div>


					</div><!--/.row-->
				</div><!--/.packages-content-->
			</div><!--/.container-->
			</div>
		</section>


		<section id="blog" class="blog">
			<div class="container">
				<div class="blog-details">
						<div class="gallary-header text-center">
							<h2>
								Liste des Voyages
							</h2>
							<p>
								Cette excursion: <i>{{ excur.nom }}</i> conserne la liste des voyages ci dessous:
							</p>
						</div><!--/.gallery-header-->
						<div class="blog-content">
							<div class="row">
								{% for voyage in voyages %}
								<div class="col-sm-4 col-md-4">
									<div class="thumbnail">
										<h2>{{voyage.nomvoyage}} <span>{{voyage.prix}} Frcfa</span></h2>
                                        <h2>{{voyage.duree}} <span>heures </span></h2>
										<div class="thumbnail-img">
											<img src="{{voyage.photo.url}}" alt="blog-img">
											<div class="thumbnail-img-overlay"></div>

										</div>

										<div class="caption">
											<div class="blog-txt">
												<h3>
													<a href="#">
														(Description ) Discover on beautiful weather.
													</a>
												</h3>
<!--												<p>-->
<!--													Lorem ipsum dolor sit amet, contur adip elit, sed do mod incid ut labore et dolore magna aliqua. Ut enim ad minim veniam-->
<!--												</p>-->
												<a href="#">Savoir plus</a>
											</div>
										</div>
									</div>

								</div>
									{% endfor %}
							</div>
						</div>

					</div>
				</div>

		</section>



{% include 'base/footer.html' %}

</body>
</html>